<div class="media flex-column flex-md-row">
  <img
    *ngIf="avatar"
    class="mr-3 img-fluid picture mx-auto"
    [src]="avatar"
    [alt]="fullname"
  />
  <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
    <div class="primary-info">
      <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">
        {{ fullname }}
      </h1>
      <div class="title mb-3">{{ profession }}</div>
      <ul class="list-unstyled">
        <li class="mb-2">
          <a href="mailto:{{ email }}" target="_"
            ><i
              class="far fa-envelope fa-fw mr-2"
              data-fa-transform="grow-3"
            ></i
            >{{ email }}</a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fab fa-skype fa-fw mr-2" data-fa-transform="grow-6"></i
            >{{ skype }}</a
          >
        </li>
      </ul>
    </div>
    <!--//primary-info-->
    <div class="secondary-info ml-md-auto mt-2">
      <ul class="resume-social list-unstyled">
        <li class="mb-3">
          <a href="https://linkedin.com/in/chimaprecious" target="_"
            ><span class="fa-container text-center mr-2"
              ><i class="fab fa-linkedin-in fa-fw"></i></span
            >linkedin.com/in/chimaprecious</a
          >
        </li>
        <li class="mb-3">
          <a href="https://github.com/codekeyz" target="_"
            ><span class="fa-container text-center mr-2"
              ><i class="fab fa-github-alt fa-fw"></i></span
            >github.com/codekeyz</a
          >
        </li>

        <li>
          <a href="https://chima.netlify.com" target="_"
            ><span class="fa-container text-center mr-2"
              ><i class="fas fa-globe"></i></span
            >chima.netlify.com</a
          >
        </li>
      </ul>
    </div>
    <!--//secondary-info-->
  </div>
  <!--//media-body-->
</div>
<!--//media-->
