<article class="resume-wrapper text-center position-relative">
  <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
    <header app-header class="resume-header pt-4 pt-md-0" remove-wrapper>
      <app-header
        [avatar]="'https://avatars2.githubusercontent.com/u/22515508?s=460&v=4'"
        [fullname]="'Chima Precious'"
        [profession]="'Mobile Developer'"
        [email]="'chima@witsghana.com'"
        [skype]="'live:ositachima.co'"
      ></app-header>
    </header>

    <div class="resume-body p-5">
      <section class="resume-section summary-section mb-5">
        <h2
          class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
        >
          Career Summary
        </h2>
        <div class="resume-section-content">
          <p class="mb-0">
            Soon updating
          </p>
        </div>
      </section>
      <!--//summary-section-->
    </div>
    <!--//resume-body-->
  </div>
</article>

<app-footer></app-footer>
